# DOMAIN=kerndata.vps-kinghost.net
DOMAIN=your.domain.com
EMAIL=your.email@example.com

PG_ADMIN_EMAIL=your.email@example.com
PG_ADMIN_PASSWORD=yourpassword!

PG_DB_USER=postgres
PG_DB_PASSWORD=yourpassword!
PG_DB_NAME=postgres_db

MONGO_INITDB_ROOT_USERNAME=mongo_root
MONGO_INITDB_ROOT_PASSWORD=yourpassword!
